<form autocomplete="on">
  <div class="sheet-body flexrow">
    <section>
      <div class="url-group">
        <h2>AI HORDE URL</h2>
        <div class="form-group">
          <label>AI Horde URL</label>
          <div class="form-fields">
            <input type="text" name="hordeURL" value="{{horde_url}}">
          </div>
        </div>
      </div>

      <div class="api">
        <h2>AI HORDE API KEY</h2>
        <div class="form-group">
          <label>API Key</label>
          <div class="form-fields">
            <input type="password" name="horde_api_key" value="{{horde_api_key}}">
          </div>
        </div>
      </div>

      <div class="nsfw">
        <h2>AI HORDE NSFW</h2>
        <div class="form-group">
          <label>Allow NSFW?</label>
          <div class="form-fields">
            <input type="checkbox" name="horde_nsfw" data-dtype="Boolean" {{#if horde_nsfw}}checked{{/if}}> 
            <p class="notes">Allow NSFW images from Horde</p>
          </div>
        </div>
      </div>

      <div class="models">
        <h2>MODELS</h2> 
        <h4>active model: {{horde_model}}</h4> 
        <select id="model-select" name="horde_model">
          <option>change model here</option>
          {{#each horde_models}}
            <option value="{{this.value}}" {{#if (eq this.value ../horde_model)}}selected{{/if}}>{{this.text}}</option>
          {{/each}}
        </select>
      </div>
    </section>
  </div>

  <div class="samplers">
    <h2>SAMPLERS</h2> 
    <h4>active sampler: {{horde_sampler}}</h4> 
    <select id="sampler-select" name="horde_sampler">
      <option>change sampler here</option>
      {{#each samplers}}
        <option value="{{this.name}}" {{#if (eq this.name ../horde_sampler)}}selected{{/if}}>{{this.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="sheet-footer">
    <button type="submit"> 
      <i class="far fa-save"></i> {{ localize "Submit"}} 
    </button>
  </div>
</form>
