<form autocomplete="on">
  <div class="sheet-body flexrow">
    <section>
            <div class="source">
                <h2>SOURCE</h2>
                <select id="source-dropdown" name="source">
                    {{#each SOURCE_OPTIONS}}
                    <option value="{{value}}">{{label}}</option>
                    {{/each}}
                </select>
            <div class="source">
                    <h2>AI HORDE TOGGLES</h2>
                    <div class="form-group">
                    <label>Allow NSFW?</label>
                    <div class="form-fields">
                        <input type="checkbox" name="horde_nsfw" data-dtype="Boolean" {{#if horde_nsfw}}checked{{/if}}>
                        <p class="notes">Allow NSFW images from Horde</p>
                    </div>
                    </div>
                    <div class="form-group">
                    <label>Sanitize prompts?</label>
                    <div class="form-fields">
                        <input type="checkbox" name="horde_sanitize" data-dtype="Boolean" {{#if horde_sanitize}}checked{{/if}}>
                        <p class="notes">(recommended)</p>
                    </div>
                    </div>
                    <div class="form-group">
                    <label>Karras</label>
                    <div class="form-fields">
                        <input type="checkbox" name="horde_karras" data-dtype="Boolean" {{#if horde_karras}}checked{{/if}}>
                        <p class="notes">(not all samplers supported)</p>
                    </div>
                    </div>
                </div>
                <div class="models">
                <h2>MODELS</h2>
                <h4>active model : {{horde_model}}</h4>
                <select id="change-model" name="horde_model">
                    <option>change model here</option>
                    {{#each horde_models as |model|}}
                        <option class="model" value="{{model.value}}">
                            {{model.text}}
                        </option>
                    {{/each}}
                </select>
            </div>
            <div class="samplers">
                <h2>SAMPLERS</h2>
                <select id="sampler-select" name="horde_sampler">
                    <option value="k_euler">k_euler</option>
                </select>
            </div>
            <h2>PROMPTS</h2>
            <div class="form-group">
                <label>CFG SCALE</label>
                <div class="form-fields">
                    <input type="range" name="scale" data-dtype="Number"
                        value="{{scale}}" min="{{scale_min}}" max="{{scale_max}}" step="{{scale_step}}">
                    <span class="range-value">{{scale}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>prompt_prefix</label>
                <div class="form-fields">
                    <textarea name="prompt_prefix">{{prompt_prefix}}</textarea>
                </div>
            </div>

            <div class="form-group">
                <label>negative_prompt</label>
                <div class="form-fields">
                    <textarea name="negative_prompt">{{negative_prompt}}</textarea>
                </div>
            </div>
            <h2>IMAGES</h2>
            <div class="form-group">
                <label>Resolution</label>
                <div class="form-fields">
                    <select name="sd_resolution">
                        {{#each defaultSettings.resolutionOptions}}
                            <option value="{{@key}}" {{#if (eq @key ../../sd_resolution)}}selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <p class="notes">Select the resolution for the generated image</p>
            </div>
            <div class="form-group">
                <label>sampling steps</label>
                <div class="form-fields">
                    <input type="range" name="steps" data-dtype="Number"
                        value="{{steps}}" min="1" max="80" step="1">
                    <span class="range-value">{{steps}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>denoising_strength</label>
                <div class="form-fields">
                    <input type="range" name="denoising_strength" data-dtype="Number"
                        value="{{denoising_strength}}" min="0.1" max="1" step="0.05">
                    <span class="range-value">{{denoising_strength}}</span>
                </div>
            </div>
            <div class="form-group">
                <label>Restore Faces</label>
                <div class="form-fields">
                    <input type="checkbox" name="restore_faces" data-dtype="Boolean" {{#if restore_faces}}checked{{/if}}>
                </div>
            </div>
            <div class="form-group">
                <label>Hires. Fix</label>
                <div class="form-fields">
                    <input type="checkbox" name="enable_hr" data-dtype="Boolean" {{#if enable_hr}}checked{{/if}}>
                </div>
            </div>
        </section>

    </div>

    <div class="sheet-footer">
        <button type="submit">
            <i class="far fa-save"></i>
            {{ localize "Submit"}}

        </button>
    </div>

</form>
