<form autocomplete="on">
    <div class="sheet-body flexrow">
        <section>
            <div class="source_info">
                <h2>SERVER AND WORKFLOW</h2>
                <div class="form-group">
                    <label>ComfyUI server IP</label>
                    <div class="form-fields">
                        <input name="comfyui_url" type="text" value="{{comfyui_url}}" />
                    </div>
                </div>
            <div class="form-group flexrow">
                <div class="half">
                    <label>Workflow Storage Path</label>
                    <div class="form-fields">
                        <input name="comfyui_workflow_storage_path" type="text" value="{{comfyui_workflow_storage_path}}" />
                        <button type="button" class="file-picker" data-type="folder" data-target="input[name='comfyui_workflow_storage_path']" title="Pick Directory">
                            <i class="fas fa-folder-open"></i>
                        </button>
                    </div>
                </div>
                <div class="half">
                    <label>Workflow</label>
                    <div class="form-fields">
                        <input name="comfyui_workflow" type="text" value="{{comfyui_workflow}}" />
                        <button type="button" class="file-picker" data-type="file" data-target="input[name='comfyui_workflow']" title="Pick File">
                            <i class="fas fa-file"></i>
                        </button>
                    </div>
                </div>
            </div>

            <h2 style="text-align: center;">These each represent a placeholder in the ComfyUI .json file.</h2>
            <div class="comfyui-settings">
                <h2>Configuration</h2>
                <div class="form-group">
                    <div class="slider-container">
                        <div class="slider-item">
                            <label for="comfyui-cfg-scale-slider">Comfyui CFG Scale:</label>
                            <input type="range" id="comfyui-cfg-scale-slider" name="comfyui_cfg_scale" min="1" max="30" step="0.5" value="{{comfyui_cfg_scale}}" oninput="updateCfgScaleValue(this.value)">
                            <input type="number" id="comfyui-cfg-scale-input" name="comfyui_cfg_scale" min="1" max="30" step="0.5" value="{{comfyui_cfg_scale}}" onchange="updateCfgScaleSlider(this.value)">
                        </div>
                        <div class="slider-item">
                            <label for="comfyui-sampler-steps-slider">Sampler Steps:</label>
                            <input type="range" id="comfyui-sampler-steps-slider" name="comfyui_sampler_steps" min="1" max="150" step="1" value="{{comfyui_sampler_steps}}" oninput="updateSamplerStepsValue(this.value)">
                            <input type="number" id="comfyui-sampler-steps-input" name="comfyui_sampler_steps" min="1" max="150" step="1" value="{{comfyui_sampler_steps}}" onchange="updateSamplerStepsSlider(this.value)">
                        </div>
                        <div class="slider-item">
                            <label for="comfyui-height-slider">Latent Height:</label>
                            <input type="range" id="comfyui-height-slider" name="comfyui_height" min="256" max="2048" step="1" value="{{comfyui_height}}" oninput="updateHeightValue(this.value)">
                            <input type="number" id="comfyui-height-input" name="comfyui_height" min="256" max="2048" step="1" value="{{comfyui_height}}" onchange="updateHeightSlider(this.value)">
                        </div>
                        <div class="slider-item">
                            <label for="comfyui-width-slider">Latent Width:</label>
                            <input type="range" id="comfyui-width-slider" name="comfyui_width" min="256" max="2048" step="1" value="{{comfyui_width}}" oninput="updateWidthValue(this.value)">
                            <input type="number" id="comfyui-width-input" name="comfyui_width" min="256" max="2048" step="1" value="{{comfyui_width}}" onchange="updateWidthSlider(this.value)">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JavaScript to synchronize the slider and the input field values -->
    <script>
        function updateCfgScaleValue(value) {
            document.getElementById('comfyui-cfg-scale-input').value = value;
        }
        function updateCfgScaleSlider(value) {
            document.getElementById('comfyui-cfg-scale-slider').value = value;
        }
        function updateSamplerStepsValue(value) {
            document.getElementById('comfyui-sampler-steps-input').value = value;
        }
        function updateSamplerStepsSlider(value) {
            document.getElementById('comfyui-sampler-steps-slider').value = value;
        }
        function updateHeightValue(value) {
            document.getElementById('comfyui-height-input').value = value;
        }
        function updateHeightSlider(value) {
            document.getElementById('comfyui-height-slider').value = value;
        }
        function updateWidthValue(value) {
            document.getElementById('comfyui-width-input').value = value;
        }
        function updateWidthSlider(value) {
            document.getElementById('comfyui-width-slider').value = value;
        }
    </script>
    <!-- Styles for sliders -->
    <style>
        .slider-container {
            display: flex;
            justify-content: space-between;
        }
        .slider-item {
            flex: 1;
            margin-right: 20px;
        }
        .slider-item:last-child {
            margin-right: 0;
        }
        .slider-item input[type="range"], .slider-item input[type="number"] {
            width: 100%;
        }
        .slider-item input[type="number"] {
            width: auto; /* Adjusted to not conflict with the full-width range input */
            margin-top: 5px;
        }
    </style>

            <div class="models">
                <h2>MODELS</h2>
                <h4>active model : {{comfyui_model}}</h4>
                <select id="model-select" name="comfyui_model">
                <option>change model here</option>
                {{#each comfyui_models}}
                    <option value="{{this}}" {{#if (eq this ../comfyui_model)}}selected{{/if}}>{{this}}</option>
                {{/each}}
                </select>
            </div>
            </section>
        </div>

            <div class="samplers">
                <h2>SAMPLERS</h2>
                <h4>active sampler: {{comfyui_sampler}}</h4> 
                <select id="sampler-select" name="comfyui_sampler">
                <option>change sampler here</option>
                {{#each comfyui_samplers}}
                    <option value="{{this}}" {{#if (eq this ../comfyui_sampler)}}selected{{/if}}>{{this}}</option>
                {{/each}}
                </select>
            </div>
            <div class="schedulers">
                <h2>SCHEDULERS</h2> 
                <h4>active scheduler: {{comfyui_scheduler}}</h4> 
                <select id="scheduler-select" name="comfyui_scheduler">
                <option>change scheduler here</option>
                {{#each comfyui_schedulers}}
                    <option value="{{this}}" {{#if (eq this ../comfyui_scheduler)}}selected{{/if}}>{{this}}</option>
                {{/each}}
                </select>
            </div>
            <div class="upscalers">
                <h2>UPSCALERS</h2>
                <h4>active upscaler: {{comfyui_upscaler}}</h4> 
                <select id="upscaler-select" name="comfyui_upscaler">
                <option>change upscaler here</option>
                {{#each comfyui_upscalers}}
                    <option value="{{this}}" {{#if (eq this ../comfyui_upscaler)}}selected{{/if}}>{{this}}</option>
                {{/each}}
                </select>
            </div>
            <div class="loras">
                <h2 class="stable-loras">LORA STACK</h2>
                    <div class="form-fields">
                        <textarea name="loraPrompt">{{lora_prompt}}</textarea>
                    </div>
                    <p class="notes">This is the equivalent A1111 text command that will be used to create your LoRA stack.</p>
                </div>
                <div class="stable-lora-choice">
                    {{#each comfyui_loras as |lora|}}
                    <span class="lora-choice {{#if lora.active}}active{{/if}}">{{lora.lora}}</span>
                    {{/each}}
                </div>
                {{#each comfyui_loras as |lora id|}}
                <div class="form-group active-lora {{#unless lora.active}}hidden{{/unless}}">
                    <label>{{lora.lora}}</label>
                    <input type="range" class="stable-lora-value"
                        data-lora-alias="{{lora.lora}}"
                        name="comfyui_loras[{{id}}].strength"
                        data-dtype="Number"
                        value="{{lora.strength}}" min="0" max="1"
                        step="0.05">
                    <span class="range-value">{{lora.strength}}</span>
                </div>
                {{/each}}
            </div>


        </section>
    </div>

    <div class="sheet-footer">
        <button type="submit">
            <i class="far fa-save"></i>
            {{ localize "Submit"}}
        </button>
    </div>
</form>