<form autocomplete="on">
    <div class="sheet-body flexrow">
        <section>
            <div class="source_url">
                <h2>SERVER IP</h2>
                <div class="form-group">
                    <label>Local ComfyUI server IP</label>
                    <div class="form-fields">
                        <input name="comfyui_url" type="text"
                            value="{{comfyui_url}}" />
                    </div>
                    <p class="notes">IP address of your local instance of ComfyUI</p>
                </div>
            </div>
            <div class="models">
                <h2>MODELS</h2>
                <h4>active model : {{comfyUIModel}}</h4>
                <select id="change-model">
                    <option>change model here</option>
                    {{#each comfyUIModels as |model|}}
                    <option class="model" value="{{model}}">
                        {{model}}
                    </option>
                    {{/each}}
                </select>
                <p class="note">This may take some time, please wait for changes to appear</p>
            </div>
            <div class="samplers">
                <h2>SAMPLING METHOD</h2>
                <h4>active sampler : {{comfyUISampler}}</h4>
                <select id="change-sampler">
                    <option>change sampler here</option>
                    {{#each comfyUISamplers as |sampler|}}
                    <option class="sampler" value="{{sampler}}">
                        {{sampler}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="schedulers">
                <h2>SCHEDULER</h2>
                <h4>active scheduler : {{comfyUIScheduler}}</h4>
                <select id="change-scheduler">
                    <option>change scheduler here</option>
                    {{#each comfyUISchedulers as |scheduler|}}
                    <option class="scheduler" value="{{scheduler}}">
                        {{scheduler}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="upscalers">
                <h2>UPSCALERS</h2>
                <h4>active upscaler : {{comfyUIUpscaler}}</h4>
                <select id="change-upscaler">
                    <option>change upscaler here</option>
                    {{#each comfyUIUpscalers as |upscaler|}}
                    <option class="upscaler" value="{{upscaler}}">
                        {{upscaler}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="loras">
                <h2 class="stable-loras">LORAS</h2>

                <div class="form-group">
                    <label>lora Prompt</label>
                    <div class="form-fields">
                        <textarea name="loraPrompt">{{loraPrompt}}</textarea>
                    </div>
                    <p class="notes">This text will be inserted after your
                        prompt to trigger your loras
                    </p>
                </div>
                <div class="stable-lora-choice">
                    {{#each comfyUILoras as |lora|}}
                    <span class="lora-choice">{{lora}}</span>
                    {{/each}}
                </div>
                {{#each activeLoras as |lora id|}}
                <div class="form-group active-lora">
                    <label>{{lora}}</label>
                    <input type="range" class="stable-lora-value"
                        data-lora-alias="{{lora}}"
                        name="activeLoras[{{id}}].value"
                        data-dtype="Number"
                        value="{{lora.value}}" min="0" max="1"
                        step="0.05">
                    <span class="range-value">{{lora.value}}</span>
                </div>
                {{/each}}
            </div>
        </section>
    </div>

    <div class="sheet-footer">
        <button type="submit">
            <i class="far fa-save"></i>
            {{ localize "Submit"}}
        </button>
    </div>
</form>