<form autocomplete="on">
  <div class="sheet-body flexrow">
    <section>
                <h2>SERVER IP</h2>
                <div class="form-group">
                    <label>stable diffusion server IP</label>
                    <div class="form-fields">
                        <input name="auto_url" type="text"
                            value="{{auto_url}}" />
                    </div>
                    <p class="notes">IP adress of your local instance of Stable
                        diffusion</p>
                </div>
            </div>
            <div class="auto_url">
                <h2>STORAGE</h2>
                <div class="form-group picker">
                    <label>path for stored generated images</label>
                    <div class="form-fields">
                        <input type="text" name="stableStoragePath"
                            value="{{stableStoragePath}}">

                        <button type="button" class="file-picker"
                            data-type="folder"
                            data-target="stableStoragePath"
                            title="Browse">
                            <i class="fas fa-file-import fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="models">
                <h2>MODELS</h2>
                <h4>active model : {{activeModel}}</h4>
                <select id="change-model">
                    <option>change model here</option>
                    {{#each models as |model index|}}
                    <option class="model" value="{{model.title}}">
                        {{model.model_name}}
                    </option>
                    {{/each}}
                </select>
                <p class="note">This.may take some time, please wait for changes
                    to appear</p>
            </div>
            <div class="samplers">
                <h2>SAMPLERS</h2>
                <select id="sampler-select">
                    {{#each samplers as |sampler|}}
                    <option value="{{sampler.name}}">{{sampler.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="loras">
                <h2 class="stable-loras">LORAS</h2>

                <div class="form-group">
                    <label>lora Prompt</label>
                    <div class="form-fields">
                        <textarea name="loraPrompt">{{loraPrompt}}</textarea>
                    </div>
                    <p class="notes">this text will be inserted after your
                        prompt to
                        trigger your loras
                    </p>
                </div>
                <div class="stable-lora-choice">
                    {{#each loras as |lora|}}
                    <span class="lora-choice">{{lora.alias}}</span>
                    {{/each}}
                </div>
                {{log loras}}
                {{#each activeLoras as |lora id|}}
                {{log lora id}}
                <div class="form-group active-lora">
                    <label>{{lora.alias}}</label>
                    <input type="range" class="stable-lora-value"
                        data-lora-alias="{{lora.alias}}"
                        name="activeLoras[{{id}}].value"
                        data-dtype="Number"
                        value="{{lora.value}}" min="0" max="1"
                        step="0.05">
                    <span class="range-value">{{lora.value}}</span>

                </div>
                {{/each}}
            </div>
        </section>
        <section class="commons">
            <h2>PROMPTS</h2>
            <div class="form-group">
                <label>prompt_prefix</label>
                <div class="form-fields">
                    <textarea name="prompt_prefix">{{prompt_prefix}}</textarea>
                </div>
                <p class="notes">text that will be add to each request at the
                    beginning
                    of the prompt</p>
            </div>
            <div class="form-group">
                <label>negative_prompt</label>
                <div class="form-fields">
                    <textarea name="negative_prompt">{{negative_prompt}}</textarea>
                </div>
                <p class="notes">text that will be add to each request as
                    negative
                    prompt</p>
            </div>
            <h2>IMAGES</h2>
            <div class="form-group">
                <label>width</label>
                <div class="form-fields">

                    <input type="range" name="width" data-dtype="Number"
                        value="{{width}}" min="128" max="1024" step="64">
                    <span class="range-value">{{width}}</span>
                </div>
                <p class="notes">width of generated image</p>
            </div>
            <div class="form-group">
                <label>height</label>
                <div class="form-fields">

                    <input type="range" name="height" data-dtype="Number"
                        value="{{height}}" min="128" max="1024" step="64">
                    <span class="range-value">{{height}}</span>
                </div>
                <p class="notes">height of generated image</p>
            </div>
            <div class="form-group">
                <label>batch count</label>
                <div class="form-fields">

                    <input type="range" name="batchCount" data-dtype="Number"
                        value="{{batchCount}}" min="1" max="20" step="1">
                    <span class="range-value">{{batchCount}}</span>
                </div>
                <p class="notes">how many batches image to create</p>
            </div>
            <div class="form-group">
                <label>variations </label>
                <div class="form-fields">

                    <input type="range" name="denoising_strength" data-dtype="Number"
                        value="{{denoising_strength}}" min="0.1" max="1" step="0.05">
                    <span class="range-value">{{denoising_strength}}</span>
                </div>
                <p class="notes">variation weight from the source image</p>
            </div>
            <div class="form-group">
                <label>restore faces</label>
                <div class="form-fields">
                    <input type="checkbox" name="restore_faces" data-dtype="Boolean" {{#if restore_faces}}checked{{/if}}>
                </div>
                <p class="notes">restore faces</p>
            </div>
        </section>
    </div>

    <div class="sheet-footer">
        <button type="submit">
            <i class="far fa-save"></i>
            {{ localize "Submit"}}

        </button>
    </div>

</form>
