<form autocomplete="on">
    <div class="sheet-body flexrow">
        <section>
            <div class="localA1111URL">
                <h2>SERVER IP</h2>
                <div class="form-group">
                    <label>stable diffusion server IP</label>
                    <div class="form-fields">
                        <input name="localA1111URL" type="text"
                            value="{{localA1111URL}}" />
                    </div>
                    <p class="notes">IP adress of your local instance of Stable
                        diffusion</p>
                </div>
            </div>
            <div class="models">
                <h2>MODELS</h2>
                <h4>active model : {{activeModel}}</h4>
                <select id="change-model">
                    <option>change model here</option>
                    {{#each models as |model index|}}
                    <option class="model" value="{{model.title}}">
                        {{model.model_name}}
                    </option>
                    {{/each}}
                </select>
                <p class="note">This may take some time, please wait for changes to appear</p>
            </div>
            <div class="samplers">
                <h2>SAMPLING METHOD</h2>
                <h4>active sampler : {{localA1111Sampler}}</h4>
                <select id="change-sampler">
                    <option>change sampler here</option>
                    {{#each samplers as |sampler|}}
                    <option class = "sampler" value="{{sampler.name}}">
                        {{sampler.name}}
                    </option>
                    {{/each}}
                </select>
            </div>
            <div class="upscalers">
                <h2>UPSCALERS</h2>
                <h4>active upscalar : {{localA1111Upscaler}}</h4>
                <select id="change-upscaler">
                    <option>change upscaler here</option>
                    {{#each upscalers as |upscaler|}}
                    <option class = "upscaler" value="{{upscaler.name}}">
                        {{upscaler.name}}
                    </option>
                    {{/each}}
                </select>
            </div>
           <div class="loras">
            <h2 class="stable-loras">LORA STACK</h2>
            <div class="form-fields">
                <textarea name="loraPrompt">{{loraPrompt}}</textarea>
            </div>
            <p class="notes">This is the equivalent A1111 text command that will be used to create your LoRA stack.</p>
            
            <div class="stable-lora-choice">
                {{#each loras as |lora|}} 
                <span class="lora-choice {{#if lora.active}}active{{/if}}">{{lora.alias}}</span>
                {{/each}}
            </div>
            
            {{#each loras as |lora id|}}
            <div class="form-group active-lora {{#unless lora.active}}hidden{{/unless}}">
                <label>{{lora.alias}}</label>
                <input type="range" class="stable-lora-value" 
                       data-lora-alias="{{lora.alias}}"
                       name="loras[{{id}}].strength" 
                       data-dtype="Number"
                       value="{{lora.strength}}" min="0" max="2" 
                       step="0.05">
                <span class="range-value">{{lora.strength}}</span>
            </div>
            {{/each}}
        </div>
    </section>
</div>

<div class="sheet-footer">
    <button type="submit">
        <i class="far fa-save"></i>
        {{ localize "Submit"}}
    </button>
</div>
</form>
